**/.deps
.deps
**/.libs
.libs
configure
config.status
config.log
config.h*
stamp-h1
depcomp
ltmain.sh
missing
*.o
**/*.o
*.lo
**/*.lo
*.la
**/*.la
compile
GPATH
GRTAGS
GTAGS
.vscode/
autom4te.cache/
aclocal.m4
Makefile
configure
libtool
source/Makefile
source/loaders/Makefile
source/loaders/version.h
source/module/Makefile
m4
